<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchMakers"
        tools:targetApi="31">
        <service
            android:name=".ui.messages.ChatListenerService"
            android:enabled="true"
            android:exported="true"></service>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8vSUHnTEVx4frBLolHJyZ8_nx3IyB97E" />

        <activity android:name=".ui.mapview.MapActivity" />
        <activity
            android:name=".viewmodel.ViewModelFactory"
            android:exported="false" />
        <activity
            android:name=".viewmodel.UserViewModel"
            android:exported="false" />
        <activity
            android:name=".repository.UserRepository"
            android:exported="false" />
        <activity
            android:name=".database.UserDatabase"
            android:exported="false" />
        <activity
            android:name=".database.UserDao"
            android:exported="false" />
        <activity
            android:name=".model.User"
            android:exported="false"
            android:theme="@style/Theme.MatchMakers" />
        <activity
            android:name=".database.User"
            android:exported="false" />
        <activity
            android:name=".network.RetrofitInstance"
            android:exported="false" />
        <activity
            android:name=".network.ClusterApiService"
            android:exported="false" />
        <activity
            android:name=".ui.CreateAccount.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.messages.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.OtherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.report.ReportActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.matchmakers"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <!-- Google Maps API Key -->
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC8vSUHnTEVx4frBLolHJyZ8_nx3IyB97E" />
        </provider>
    </application>

</manifest>